netgen_layouts:
  pagelayout: 'base.html.twig'
  layout_types:
    layout_grayscale:
      name: 'Layout Grayscale'
      icon: '/bundles/netgenlayoutsstandard/images/layout_types/layout_2.svg'
      zones:
        header:
          name: 'Header'
        post_header:
          name: 'Post header'
        main:
          name: 'Main'
        pre_footer:
          name: 'Pre footer'
        footer:
          name: 'Footer'
      enabled: true
  view:
    layout_view:
      grayscale:
        layout_grayscale:
          template: 'nglayouts/layout/layout_2.html.twig'
          match:
            layout\type: layout_grayscale
          parameters: { }
      app:
        layout_grayscale:
          template: '@nglayouts_admin/app/layout/layout_2.html.twig'
          match:
            layout\type: layout_grayscale
          parameters: {  }
