{% if registration.isServer %}
    <row class="footer">
        <columns>
            <p>Thanks again for your willingness to serve!  We’ll see you at server training.</p>
        </columns>
    </row>
{% else %}
    <row class="footer">
        <columns>
            <p>Thanks again for registering!  We’ll see you at Encounter.</p>
        </columns>
    </row>
{% endif %}