{% extends 'email/email_core.html.twig' %}
{% block welcome_header %}
    {{ parent() }}
{% endblock %}
{% block body_wrapper %}
    {% include('email/registration/header.thankyou.html.twig') %}
    {% if registration.isServer %}
        {% include('email/registration/types/server.information.html.twig') %}
        <callout class="secondary">
            <row>
                <columns large="6">
                    <p>
                        <strong>Server Training Location:</strong><br/>
                        [[ location here ]]<br/>
                        <br/>
                        Captain Price<br/>
                        123 Maple Rd<br/>
                        Campbell, CA 95112
                    </p>
                </columns>
                <columns large="6">
                    <p>
                        <strong>Training Date & Time:</strong><br/>
                        [[ this date ]]<br/>
                        <br/>
                        @ [[ this time ]]
                    </p>
                </columns>
            </row>
        </callout>
    {% else %}
        {% include('email/registration/types/attendee.information.html.twig') %}
        <row>
            <columns>
                <p>
                    If you have any questions about Men’s Encounter, or if a situation arises and you are unable to attend, please contact the person who invited you or reach out to the representative(s) from your Launch Point right away.  Contact information is:
                </p>
                {% for contact in registration.launchPoint.launchPointContacts %}
                    <p>{{ contact.person.fullName }}<br/>
                        {{ contact.person.phone }}<br/>
                        {{ contact.person.email }}</p>
                    <spacer size="20"></spacer>
                {% endfor %}
            </columns>
        </row>
    {% endif %}
    {% include('email/registration/footer.thankyou.html.twig') %}
{% endblock %}