<nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
    <div class="container-fluid px-4 px-lg-5">
        <a class="navbar-brand" href="{{ path('app_index') }}#page-top">
            <img src="{{ asset('build/images/logo.png') }}" height="60" alt="Encounter the Cross Logo">
                <span class="d-none d-md-inline">Encounter The Cross
                {% if app.environment != 'prod' %} - <span class="text-primary">{{ app.environment|upper }}</span>{% endif %}</span>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
<!--            <ul class="navbar-nav ms-auto">-->
                {{ knp_menu_render('main') }}
<!--                <li class="nav-item"><a class="nav-link" href="#about">About</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="#projects">Projects</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="#signup">Contact</a></li>-->
<!--            </ul>-->
        </div>
    </div>
</nav>