{% extends 'bootstrap.base.html.twig' %}

{% block body %}
    {% block projects %}
        <section class="content-section bg-secondary">
            <div class="container px-4 px-lg-5 text-center">
                {% block content %}{% endblock %}
            </div>
        </section>
    {% endblock %}
{% endblock %}