<html>
<head><meta charset="us-ascii">
	<title>Encounter The Cross Launchpad</title>
	<style type="text/css">body
{
	background: black;
}
	</style>
</head>
<body>
<table style="width: 100%;height:100%;">
	<tbody>
		<tr>
			<td style="text-align: center;" valign="middle"><a href="https://women.encounterthecross.com"><img src="{{ asset('build/images/we.png') }}" /></a> &nbsp; &nbsp; <a href="/men/"><img src="{{ asset('build/images/me.png') }}" /></a></td>
		</tr>
	</tbody>
</table>
</body>
</html>