{% extends 'frontend/blank_content.html.twig' %}

{% block content %}
    <i class="fa-solid fa-cross fa-2x mb-2 text-dark"></i>
    <h1 class="text-dark mb-5 display-1">Testimonies</h1>
    {{ component('TestimonialCollectionComponent',{
        layout: 'Grid',
        request: app.request,
    }) }}


{% endblock %}


