{#  To render the component, use {{ component('contact_event_leaders') }} #}
<div{{ attributes.defaults({class:"row row-cols-1 row-cols-md-2 row-cols-lg-3 mb-3"}) }}>
    {% for eventLeader in this.eventLeaders %}
        <div class="col">
            {{ component('contact_details_card',{
                leader: eventLeader
            }) }}
        </div>
    {% else %}
        <h3>Sorry, we are still configuring our Contacts.</h3>
    {% endfor %}
</div>