{% extends 'frontend/blank_content.html.twig' %}

{% block content %}
    <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
    <h2 class="text-white mb-5">{{ event.name|default('Event') }}  Registration</h2>

    <div class="card">
        <div class="card-body">
            <h1>Thank You! Regestration Completed.</h1>
            <p>Looking forward to seeing you at encounter.</p>
        </div>
    </div>

{% endblock %}