<row class="bottom">
    <columns>
        <center>
            <spacer size="20"></spacer>
            <div>
                Encounter The Cross © 2023 {% if "now"|date('Y') > '2023-10-26'|date('Y') %}- {{ "now"|date('Y') }}{% endif %}
            </div>
        </center>
    </columns>
</row>